@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: auto;
}

.weather-app {
  background: #fffdfc;
  color: #615f5e;
    max-width: 700px;
  padding: 20px;
}

.search-form {
  padding-top: 20px;
}

h1 {
  font-size: 4rem;
  padding-top: 20px;
  font-weight: 400;
}

#temperature {
  font-size: 8.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 100;
  line-height: 19px;
  font-size: 16px;
}

.weather-icon {
  height: 80px;
  width: 80px;
}

.current-date {
  font-size: 1.6rem;
}

.weather-status,
.weather {
  padding-block: 20px;
}

#description {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.units,
.weather-data {
  position: relative;
  top: 20px;
}

.units {
  font-size: 1.9rem;
}

.units a {
  cursor: pointer;
  color: #E86348;
}

.weather-data {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
}

input[type="search"] {
  font-size: 1.6rem;
}

#search-btn {
  background: #302154;
  color: #fff;
}

#current-btn {
  background: #E86348;
  color: #fff;
}

#celsius,
#fahrenheit {
  font-weight: 700;
}

footer {
  margin-top: 20px;
  font-size: 1.5rem;
}

footer span  {
  color: #E86348;
}

footer a {
  color: #E86348;
}

.units .active {
  cursor: default;
  color: #615f5e;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #363535;
}

.forecast-icon {
  width: 60px;
  height: 60px;
}

.weather-forecast-date {
  font-size: 1.6rem;
  opacity: 0.7;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 1.3rem;
}